header {
<<<<<<< HEAD
    background-color: white;
    height: 70px;
    width: 100%;
=======
    width: 100%;
    background-color: white;
    height: 70px;
>>>>>>> 21a543f7717b2a5ca0550ca28093b99cb770d63a
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
}

<<<<<<< HEAD
header .logo {
=======
.logo {
>>>>>>> 21a543f7717b2a5ca0550ca28093b99cb770d63a
    width: 142px;
    height: 60px;
    background: url("../images/logo.png") no-repeat center;
    padding-left: 20px;
}
